<div id='app' data-user="<%= user_json(@conn) %>"></div>
<div id='app-loading'>
  <div>
    <h4>Quasar</h4>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>
