use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :quasar, Quasar.Web.Endpoint,
  secret_key_base: "GbwpGCZDQWnxg/S+t0gWGqrWe+4IH87xq8VyFnieUTp8Dhd6uaslcOATd3s8jxjl"

# Configure your database
config :quasar, Quasar.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "quasar_prod",
  pool_size: 15

# Configure Guardian Authentication
# See: https://github.com/ueberauth/guardian
config :guardian, Guardian,
  allowed_algos: ["ES512"],
  verify_module: Guardian.JWT,  # optional
  issuer: "Quasar",
  ttl: { 30, :days },
  allowed_drift: 2000,
  verify_issuer: true, # optional
  secret_key:
  %{"alg" => "ES512",
    "crv" => "P-521",
    "d" => "Abh3MzyVbIXubYBNkkO0YwUXGjvB2ODAE8h7btYSRuxi7iOj1gVPx2WA2PqPdcM586IAalRmIRmoaqxYRBke-4Ak",
    "kty" => "EC",
    "use" => "sig",
    "x" => "Ab4R9w7Mvy1GOMRD-FgOGVvErIhqlc2HtqdDGXMjeyNyidcwxihOWjRr5MboSPzlWZ35ef-64vXFFf0zCGFumZ7x",
    "y" => "AMhpCQPZZ1Ea7MuEVNl70yjGKo1Fd79KXIx2XGK2Ziy8kJNj33OekDmP2sJgtKF0UgwTXUJ_trrefkE9GGpMo-Xg"},
  serializer: Quasar.GuardianSerializer

#
# User Config
#

# If true users can create new accounts through the web interface
config :quasar,
  allow_registration: false

# Store files on disk
config :arc,
  storage: Arc.Storage.Local

# Or use AWS for storage
config :arc,
  storage: Arc.Storage.S3,
  bucket: "your-bucket"

config :ex_aws,
  access_key_id: [{:system, "AWS_ACCESS_KEY_ID"}, :instance_role],
  secret_access_key: [{:system, "AWS_SECRET_ACCESS_KEY"}, :instance_role]

# Sending Email
# Only used for sending out forgotten password emails
# For other adapters see [Bamboo](https://github.com/thoughtbot/bamboo)'s docs
config :quasar, Quasar.Mailer,
  adapter: Bamboo.MandrillAdapter,
  api_key: "my_api_key"

# Used to generate short filenames for uploads
config :quasar,
  upload_salt: "put your unique phrase here"
